
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}


.navbara{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: right;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbara li{
    display: inline-block;
    padding: 20px 15px;
    height: 70PX;


}
.navbara li a{
 text-decoration: none;
 color: rgb(28, 77, 92);
 font-weight: bold;
 margin: auto;
}

.header{
    height:400px;
background-image: url(../images/medical.jpg); 
background-size: cover;
background-attachment: fixed;
   margin-top: 60px;
    
}
.headh1{
    padding-top: 100px;
    color:rgb(28, 77, 92);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.headp{
    margin-top: 30px;
    color:rgb(28, 77, 92);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.fa-user-md ,.fa-briefcase-medical ,.fa-file-medical-alt{
    font-size: 30px;
    color: rgb(28, 77, 92);
}

.aboutp{
    
    margin-top: 30px;
    color:rgb(28, 77, 92);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.aboutp2{
    
    margin-top: 30px;
    color:rgb(1, 12, 15);
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-left: 100px;
}
.aboutp3{
    
    color:rgb(1, 12, 15);
    font-size:15px;
    text-align: left;
    padding-left: 100px;

}
.fa-microscope,.fa-comment-medical,.fa-hospital{
    font-size: 20px;
    color: rgb(28, 77, 92);
    float: left;
    margin-top: 20px;
    border:1px solid rgb(23, 153, 192);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}
.fa-microscope:hover{
    background-color: rgb(28, 77, 92);
    color: #fff;
}
.fa-comment-medical:hover{
    background-color: rgb(28, 77, 92);
    color: #fff;
}
.fa-hospital:hover{
    background-color: rgb(28, 77, 92);
    color: #fff;
}
.faa,.fa-hospital-alt,.fa-prescription-bottle-alt,.fa-heartbeat{
    background-color: rgb(28, 77, 92);
   color: #fff;
   font-size: 20px;
   text-align: center;
   border:1px solid rgb(23, 153, 192);
   padding: 10px;
   border-radius: 50%;
   margin-top: -20px;
}
#myBtn{
    display:none;
    position:fixed;
    bottom:20px;right:30px;
    z-index:99;
    font-size:15px;
    border:none;
    outline:0;
    background-color:rgb(28, 77, 92);
    color:#fff;
    cursor:pointer;
    padding:10px;
    border-radius:10px}
    .servp3{
        color: rgb(38, 75, 97);
    }
    .serv:hover{
        background-color: rgb(28, 77, 92);
        color:#fff;
        cursor: pointer;
        transition: all ease-in-out 0.5s;

    }
    .serv:hover .servp3{
        color: #fff;
        transition: all ease-in-out 0.5s;

      } 
      
      .serv:hover .fa-procedures {
        color: #fff;
        transition: all ease-in-out 0.5s;

      } 
      .serv:hover .fa-user-nurse{
        color: #fff;
        transition: all ease-in-out 0.5s;

      }
      .serv:hover .fa-lungs{
        color: #fff;
        transition: all ease-in-out 0.5s;

      }.serv:hover .new{
        color: #fff;
        transition: all ease-in-out 0.5s;

      }.serv:hover .fa-ambulance{
        color: #fff;
        transition: all ease-in-out 0.5s;

      }.serv:hover .fa-brain{
        color: #fff;
        transition: all ease-in-out 0.5s;

      }
    .fa-procedures,.new,.fa-user-nurse,.fa-lungs,.fa-ambulance,.fa-brain{
        font-size: 100px;
        color:rgb(28, 77, 92);
    }
    .docimages:hover{
        transform: scale(1.2, 1.2);
        transition: all 1.5s;
    }
    .pserv2{
        font-size: 25px;
    }
    @media (max-width: 1200px){
        .card-title,.card-text,.aboutp,.aboutp2,.aboutp3,.pabout,.serv,.pserv,.pserv2{
font-size: 50px;       }
    }
    @media (max-width: 1200px){
        .num,.fontsmall{
font-size: 30px;       }
    }
    .numdiv{
        height: 130px;
    }
    @media (max-width: 1200px){
        .numdiv{
height: 200px;       }
    }
    @media (max-width: 1200px){
    .fa-user-md ,.fa-briefcase-medical ,.fa-file-medical-alt,.fa-procedures,.new,.fa-user-nurse,.fa-lungs,.fa-ambulance,.fa-brain,.fa-microscope,.fa-comment-medical,.fa-hospital,.faa,.fa-hospital-alt,.fa-prescription-bottle-alt,.fa-heartbeat{
        font-size: 40px;
    }}
    

       
    .fa-twitter-square,.fa-facebook-square,.fa-linkedin{
        padding: 8px;
        margin: 5px;
        border: transparent 1px solid;
        border-radius: 50%;
        background-color: rgb(140, 162, 163);
        color: #222;
        cursor: pointer;
    }
    .fa-linkedin:hover{
        
        background-color: rgb(3, 50, 53);
        color: #fff;
        cursor: pointer;
    }

    .fa-facebook-square:hover{
        
        background-color: rgb(3, 50, 53);
        color: #fff;
        cursor: pointer;
    }
    .fa-twitter-square:hover{
        
        background-color: rgb(3, 50, 53);
        color: #fff;
        cursor: pointer;
    }
    .fa-map-marker-alt,.fa-envelope,.fa-mobile-alt{
        float: left;
        padding-right: 10px;
        font-size: 30px;
        padding-top: 10px;
        color: rgb(3, 75, 99);
    }
    .fa-map-marker-alt:hover{
        color: rgb(140, 162, 163);
        cursor: pointer;

    }.fa-envelope:hover{
        color: rgb(140, 162, 163);
        cursor: pointer;

    }
    .fa-mobile-alt:hover{
        color: rgb(140, 162, 163);
        cursor: pointer;

    }

    ::-webkit-scrollbar{
        background:#e9eaeb;
        width:10px;
        }
    ::-webkit-scrollbar-thumb{
        background:-webkit-linear-gradient(rgb(3, 50, 53),#f3efef)}